.container {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 2px 2px 0 0;
    background: #001529;
    padding: 2px;
    color: rgba(255, 255, 255, 0.65);
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
    width: 20%;
}
.menuItem:active {
    color: #fff;
}
.menuItem:hover {
    color: #fff;
}
